.main-container{
    nav{
        background-color: darkcyan;
        ul{
            display: flex;
            li{
                list-style: none;
                font-family: sans-serif;
                color: white;
                padding: 20px 40px;
                cursor: pointer;
                &:hover{
                    background-color: #007070;
                    transition: all 1s;
                }
                &:last-child{
                    margin-left: auto;
                }
            }
        }
    }
}